:root {
    --orange: #ec5242;
    --black: #272a31;
    --grey: #d3d3d3;

    --fs-400: 14px;
    --fs-500: 20px;
    --fs-600: 24px;
    --fs-700: 30px;
    --fs-800: 36px;

    --ff-cocogoose: 'COCOGOOSE', sans-serif;
    --ff-lato: 'Lato', sans-serif;

    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--black);
    font-family: var(--ff-lato);
    border: 1px solid blueviolet;
}

body{
background-image: url('images/main-mobile_bg.png');
background-size: 100% 90vh;
background-repeat: no-repeat;
/* background-color: rgb(245, 245, 245); */
}

a {
    text-decoration: none;
}

h1 {
    font-size: var(--fs-700);
    margin-bottom: 20px;
}

h2 {
    font-size: var(--fs-600);
    margin-bottom: 10px;
}

h3{
    font-size: var(--fs-500);
    margin-bottom: 5px;
}

p {
    font-size: var(--fs-400);
    font-weight: 400;
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

li {
    display: inline;
}

img {
    width: 100%;
    height:auto;
    vertical-align: middle;
}

time{
    font-family: var(--ff-cocogoose);
}

section{
    padding: 30px 20px;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

header {
    padding: 20px 20px 0 20px;
}

.flex-container {
    display: flex;
}

.btn-primary {
    background-color: var(--orange);
    padding: 20px;
    margin-top: 20px;
    font-size: var(--fs-500);
    color: white;
}

.logo {
    display: none;
}

.nav-list{
    display: none;
}

.campaign-btn{
    display: none;
}

.burger-menu {
    width: 40px;
}

.headline-title {
    font-family: var(--ff-cocogoose);
    color: var(--orange);
}

.headline-welcome {
    font-size: var(--fs-500);
    color: var(--orange);
}

.description {
    padding: 10px;
    font-size: var(--fs-500);
    box-shadow: 0 0 0 3px white;
    background-color: rgba(245, 245, 245);
    line-height: 1.5rem;
}

.activity{
    width: 100%;
    padding: 10px;
    align-items: center;
    gap: 10px;
    background-color:rgba(211, 211, 211, 0.1);
}

.activity-img{
    width: 60px;
    height: 60px;
}

.activity-title{
    flex: 1.5;
    color: var(--orange);
}

.activity-description{
    flex: 2;
    margin-bottom: 0;
}

.see-program {
    color: var(--grey);
    display: none;
}


/*styling the authors section */ 
.authors-section, .program-section{
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.program-section{
    background-image: url('images/main-bg.png');
    background-repeat: repeat;
    background-color: var(--black);
}

.authors-section {
    background-color: white;
}

.program-section p, .program-section h2 {
    color: var(--grey); 
}

.author {
    gap: 20px;
}

.author-photo-container {
    flex: 1;
}

.author-photo{
   width: 100%;
   padding-top: 10%;
   padding-left: 10%;
   background-image: url('images/chess.jpg');
   background-size: 40%;
   background-repeat: no-repeat;
}

.author-description {
    flex: 2;
    flex-direction: column;
}

.genre {
    font-style: italic;
    color: var(--orange);
    font-weight: 500;
}
.line-break{
    border: 1px solid var(--orange);
    width: 30px;
    margin-bottom: 10px;
}

.see-more{
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
    border: 1px solid var(--grey);
    border-radius: 4px;
    padding: 10px;
    margin: 30px 0 0 0;
    width: 100%;
}

.see-more > img{
    width: 20px;
}
